:root{
    --black-color:#413f3f;
    --white-color:#fff;
    --sec-color: #108F6E;
    
    --ter-color:#81bc81;
    --blue:#12127e;
    --hover:#EF586B;
    --red:#d81c1c;
    --pink:#EF586B;
    --color:#50B49A;
    --tertiary:#F2F3F8;
    --dark-tertiary:#e6e2de;
    --background:#F5F4F3;
    --font-color:#051951;

    --label:#555;
}